* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    background: #319197;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    position: fixed;
    z-index: 100;
    width: 100%;
}
main{
    flex: 1 1 auto;
    position: relative;
    padding: 50px 0 0 0;
}
footer{
    background: #4D4D4D;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 60px;
}


.menu {
    position: absolute;
    background-color: #aaaaaa;
    width: 300px;
    top: 50px;
    left: 0;
    bottom: 0;
}
.menu__box{
    position: fixed;
    z-index: 90;
    width: 300px;
    padding: 15px 0;
    max-height: calc(100vh - 110px);
    overflow: auto;
}
.content{
    width: calc(100vw - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 300px;
}


button, input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    width: 80%;
    padding: 8px 18px;
    margin: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
}
button:hover, input[type="submit"]:hover{
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
img{
    width: 100px;
}


input[type="text"],
input[type="file"],
input[type="tel"],
select,
.product-info{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    margin: 30px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: white;
    font: 16px Arial, Helvetica, sans-serif;
    height: 35px;
}
input[type="submit"]{
    margin: 30px;
}
form #category-name,
form #product-category,
form #product-sort,
form #product-price{
    min-width: 250px;
}
form #product-category,
form #product-sort{
    margin-bottom: 0;
}
form input[type="submit"]{
    max-width: 200px;
}

.category{
    margin: 5px 30px 0px 60px;
    width: 70%;
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
.category:hover{
    background: #2CBBBB;
}
button:first-child{
    margin-bottom: 0;
}
.delete-btn {
    margin: 30px;
    max-height: 35px;
}
.product-info,
.delete-btn,
input[type="tel"]{
    margin-top: 0;
}
input[type="text"],
.product-info{
    margin-top: 0;
    margin-left: 0;
}
input[type="submit"]{
    margin-top: 0;
}
p{
    margin-top: 10px;
}

label{
    margin: 0px 0px 0px 7px;
}
.rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.rows:first-child{
    margin-top: 0px;
}
.column{
    width: 235px;
}
.column:first-child{
    margin-right: 30px;
}

.search-form{
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center
}
.search-form--input{
    margin: 0;
}